* {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: Lato;
  src: url("https://github.com/mbuzenkova/final-diploma/blob/main/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("https://github.com/mbuzenkova/final-diploma/blob/main/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.welcome {
  height: 90px;
  margin-top: 30px;
  margin-bottom: 140px;
  margin-left: 320px;
  margin-right: 320px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 140px;
  height: 85px;
}

.header-icons {
  display: flex;
}

.search {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.cart {
  width: 40px;
  height: 40px;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list-item {
  margin-right: 38px;
}
.menu-list-item:last-child {
  margin-right: 10px;
}

.menu-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.main {
  display: block;
  margin-left: 320px;
  margin-right: 320px;
}

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.preview-right {
  display: inline-block;
  width: 440px;
}

.preview-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.preview-text {
  font-size: 18px;
  margin-bottom: 40px;
  width: 419px;
}

.shop-button {
  width: 303px;
  height: 86px;
}

.gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.gift-left {
  display: inline-block;
  width: 343px;
}

.gift-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.gift-text {
  font-size: 18px;
  margin-bottom: 40px;
  width: 419px;
}

.gift-button {
  width: 189px;
  height: 52px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.home-right {
  display: inline-block;
  width: 343px;
}

.home-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.home-text {
  font-size: 18px;
  margin-bottom: 40px;
  width: 419px;
}

.home-button {
  width: 189px;
  height: 52px;
}

.indoor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.indoor-left {
  display: inline-block;
  width: 343px;
}

.indoor-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.indoor-text {
  font-size: 18px;
  margin-bottom: 40px;
}

.indoor-button {
  width: 189px;
  height: 52px;
}

.browse {
  display: block;
  background-image: url("https://github.com/mbuzenkova/final-diploma/blob/main/img/browse.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-bottom: 140px;
}

.browse-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 810px;
  height: 272px;
  padding-top: 110px;
  padding-bottom: 160px;
}

.browse-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.browse-text {
  font-size: 18px;
  margin-bottom: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

.browse-button {
  width: 303px;
  height: 86px;
}

.accessories {
  margin-bottom: 140px;
}

.accessories-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.accessories-text {
  font-size: 18px;
  margin-bottom: 56px;
  width: 573px;
}

.accessories-cards {
  display: flex;
  justify-content: space-between;
}

.accessory {
  box-sizing: border-box;
  width: 264px;
}

.accessory-img {
  margin-bottom: 20px;
}

.accessory-name {
  font-size: 24px;
}

.reviews {
  background-color: #e8e8e8;
  background-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
  padding-right: 124px;
}

.reviews-info {
  display: block;
  width: 395px;
}

.reviews-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 30px;
}

.reviews-text {
  font-size: 18px;
  margin-bottom: 48px;
  width: 323px;
}

.reviews-name {
  text-transform: uppercase;
  font-weight: bold;
}

.reviews-date {
  margin-top: 10px;
  display: block;
  opacity: 0.5;
}

.reviews-arrows {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: 335px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 140px;
}

.footer-logo {
  width: 140px;
  height: 85px;
}

.footer-menu-list {
  display: block;
  list-style-type: none;
}

.footer-menu-list-item {
  margin-bottom: 33px;
}
.footer-menu-list-item:last-child {
  margin-bottom: 0px;
}

.footer-menu-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.socials-link {
  display: block;
  width: 40px;
  height: 40px;
}

.socials-item:nth-child(n + 2) {
  margin-left: 25px;
}

.socials-link-facebook {
  background-image: url("https://github.com/mbuzenkova/final-diploma/blob/main/img/facebook.png?raw=true");
}

.socials-link-instagram {
  background-image: url("https://github.com/mbuzenkova/final-diploma/blob/main/img/instagram.png?raw=true");
}

.socials-link-youtube {
  background-image: url("https://github.com/mbuzenkova/final-diploma/blob/main/img/youtube.png?raw=true");
}