* {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.show-on-mobile {
  display: none;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  win-width: 320px;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.welcome {
  padding-top: 30px;
  margin-bottom: 140px;
  padding-left: 140px;
  padding-right: 140px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  display: block;
  width: 140px;
  height: 85px;
}

.header-icons {
  display: flex;
  margin-right: 50px;
}

.search-link {
  background-image: url("img/search.png?raw=true");
  display: block;
  width: 40px;
  height: 40px;
}

.cart-link {
  background-image: url("img/shopping%20cart.png?raw=true");
  display: block;
  width: 45px;
  height: 45px;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list-item {
  margin-right: 38px;
}
.menu-list-item:last-child {
  margin-right: 0px;
}

.menu-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.main {
  display: block;
  margin-left: 140px;
  margin-right: 140px;
}

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

.preview-right {
  width: 440px;
}

.preview-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.preview-text {
  font-size: 18px;
  margin-bottom: 40px;
}

.shop-button {
  display: block;
  width: 303px;
  height: 86px;
  background-color: #003f33;
  border-radius: 45px;
  border: none;
}

.shop-button-link {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 85px;
  padding-top: 31px;
}

.gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.gift-left {
  width: 343px;
}

.gift-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.gift-text {
  font-size: 18px;
  margin-bottom: 40px;
  width: 419px;
}

.gift-button {
  display: block;
  width: 189px;
  height: 52px;
  background: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
}

.gift-button-link {
  color: #000000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  padding-left: 36px;
  padding-top: 17px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.home-right {
  width: 343px;
}

.home-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.home-text {
  font-size: 18px;
  margin-bottom: 40px;
  width: 419px;
}

.home-button {
  display: block;
  width: 189px;
  height: 52px;
  background: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
}

.home-button-link {
  color: #000000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  padding-left: 36px;
  padding-top: 17px;
}

.indoor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-bottom: 140px;
}

.indoor-left {
  width: 343px;
}

.indoor-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 25px;
}

.indoor-text {
  font-size: 18px;
  margin-bottom: 40px;
}

.indoor-button {
  display: block;
  width: 189px;
  height: 52px;
  background: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
}

.indoor-button-link {
  color: #000000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  padding-left: 36px;
  padding-top: 17px;
}

.browse {
  display: block;
  background-image: url("img/browse%20all%20products.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 140px;
}

.browse:after {
  content: "";
  background-color: #ffffff;
  opacity: 0.9;
  position: absolute;
  top: 74px;
  left: 78px;
  right: 78px;
  bottom: 74px;
  width: 1004px;
  height: 419px;
}

.browse-center {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 810px;
  height: 272px;
  padding-top: 110px;
  padding-bottom: 160px;
}

.browse-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.browse-text {
  font-size: 18px;
  margin-bottom: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

.browse-button {
  display: block;
  width: 303px;
  height: 86px;
  background-color: #003f33;
  border-radius: 45px;
  border: none;
}

.browse-button-link {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 85px;
  padding-top: 31px;
}

.accessories {
  margin-bottom: 140px;
}

.accessories-title {
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 25px;
}

.accessories-text {
  font-size: 18px;
  margin-bottom: 56px;
  width: 573px;
}

.accessories-cards {
  display: flex;
  justify-content: space-between;
}

.accessory {
  box-sizing: border-box;
  width: 264px;
}

.accessory-img {
  margin-bottom: 20px;
}

.accessory-name {
  font-size: 24px;
}

.reviews {
  background-color: #e8e8e8;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
  padding-right: 124px;
}

.reviews-info {
  display: block;
  width: 395px;
}

.reviews-title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 30px;
}

.reviews-text {
  font-size: 18px;
  margin-bottom: 48px;
  width: 323px;
}

.reviews-name {
  text-transform: uppercase;
  font-weight: bold;
}

.reviews-date {
  margin-top: 10px;
  display: block;
  opacity: 0.5;
}

.reviews-arrows {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.reviews-left {
  display: block;
  background-image: url("img/arrow%201.png?raw=true");
}

.reviews-right {
  display: block;
  background-image: url("img/arrow%202.png?raw=true");
}

.footer {
  background-color: #000000;
  width: 100%;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 140px;
}

.footer-logo {
  display: block;
  width: 140px;
  height: 85px;
}

.footer-menu-list {
  display: block;
  list-style-type: none;
}

.footer-menu-list-item {
  margin-bottom: 33px;
}
.footer-menu-list-item:last-child {
  margin-bottom: 0px;
}

.footer-menu-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.socials-link {
  display: block;
  width: 40px;
  height: 40px;
}

.socials-item:nth-child(n + 2) {
  margin-left: 25px;
}

.socials-link-facebook {
  background-image: url("img/facebook.png?raw=true");
}

.socials-link-instagram {
  background-image: url("img/instagram.png?raw=true");
}

.socials-link-youtube {
  background-image: url("img/youtube.png?raw=true");
}

.browse-button {
  display: block;
  width: 303px;
  height: 86px;
  background-color: #003f33;
  border-radius: 45px;
  border: none;
}

.browse-button-link {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 85px;
  padding-top: 31px;
}

@media (max-width: 640px) {
  .menu {
    visibility: hidden;
    display: none;
  }

  .search-link {
    visibility: hidden;
    display: none;
    margin-right: 0;
  }

  .show-on-mobile {
    display: block;
  }

  .burger-link {
    display: block;
    background-image: url("img/mobile%20img/burger.png?raw=true");
  }

  .welcome {
    height: 90px;
    margin-top: 30px;
    margin-bottom: 47px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .main {
    margin-left: 30px;
    margin-right: 30px;
  }

  .preview {
    flex-direction: column-reverse;
    height: 670px;
    margin-bottom: 85px;
  }

  .preview-right {
    width: 315px;
  }

  .preview-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .preview-text {
    font-size: 18px;
    width: 315px;
    margin-bottom: 30px;
  }

  .gift {
    flex-wrap: wrap;
    height: 590px;
    margin-bottom: 85px;
  }

  .gift-left {
    width: 315px;
  }

  .gift-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 250px;
  }

  .gift-text {
    margin-bottom: 30px;
    width: 315px;
  }

  .home {
    flex-direction: column-reverse;
    height: 525px;
    margin-bottom: 85px;
  }

  .home-right {
    display: inline-block;
    width: 315px;
  }

  .home-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .home-text {
    margin-bottom: 30px;
    width: 315px;
  }

  .indoor {
    flex-wrap: wrap;
    height: 575px;
    margin-bottom: 85px;
  }

  .indoor-left {
    width: 315px;
  }

  .indoor-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .indoor-text {
    margin-bottom: 30px;
  }

  .browse {
    background-image: url("img/mobile%20img/browse%20all%20products.jpg?raw=true");
    margin-bottom: 85px;
    position: relative;
  }

  .browse:after {
    width: 315px;
    height: 419px;
  }

  .browse-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 267px;
    height: 272px;
    padding-top: 100px;
    padding-bottom: 125px;
  }

  .browse-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .browse-text {
    margin-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .browse-button {
    width: 267px;
    height: 76px;
  }

  .accessories {
    margin-bottom: 85px;
  }

  .accessories-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .accessories-text {
    margin-bottom: 30px;
    width: 315px;
  }

  .accessory {
    width: 264px;
    margin-right: 35px;
  }

  .accessory:last-child {
    margin-right: 0px;
  }

  .accessory-img {
    margin-bottom: 20px;
  }

  .accessory-name {
    font-size: 24px;
  }

  .reviews {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-right: 0px;
    width: 315px;
  }

  .reviews-info {
    display: block;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .reviews-text {
    margin-bottom: 30px;
    width: 275px;
  }

  .reviews-date {
    font-size: 14px;
    padding-bottom: 30px;
  }

  .reviews-arrows {
    margin-bottom: 60px;
  }

  .footer {
    height: 701px;
    margin-top: 0px;
  }

  .footer-container {
    display: block;
    padding: 60px 36px 80px;
  }

  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-menu-list {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 60px;
  }

  .socials {
    margin-bottom: 60px;
  }
}